<footer>
    <p>
        © 2025 DormPedia <br>
        Developed by Sydney Cox with aid of Paige Grantz and Claude.ai <br>
        <a href="https://github.com/sydneyreycox/CSCI3321_Individual_Homework_2">Repository</a>
    </p>
</footer>
