<!DOCTYPE html>
<html>
    <%- include('../partials/header', {activePage:'home'}) %>
    <body style="text-align:center">
        <h1>You found the easter egg! Good job!</h1>
        <h1>
            <img src="/images/bcti.jpg" class="easter-egg-image">   +   <img src="/images/tuti.jpg" class="easter-egg-image">
            <br> = <br>
            <img src="/images/hybridA.jpg" class="easter-egg-image">   +   <img src="/images/hybridB.jpg" class="easter-egg-image">
        </h1>
    </body>
    <%- include('../partials/footer') %>
</html>