<!DOCTYPE html>
<html>
    <head>
        <title>Dormpedia</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('../partials/header', {activePage:'home'}) %>

        <h1>Welcome to DormPedia!</h1>
        <p>Testing goes here.</p>

        <%- include('../partials/footer') %>
    </body>
</html>