<!--Claude made framework.-->
<!DOCTYPE html>
<html>
    <%- include('../partials/header', {activePage:''}) %>
        <body>
            <main>
                <div class="recipe-detail">
                    <h1>Your form was submitted!</h1>
                    <a href="/" class="btn">Home</a>
                    <a href="/recipes" class="btn">View Recipes</a>
                </div>
            </main>
        </body>
    <%- include('../partials/footer') %>
</html>